*{
   background-color: #DDD0C8;
   color: #323232;
   font-weight: bolder;
   font-family: 'Courier New', Courier, monospace;
}
.container{
   background-color: #323232;
   display: inline-grid;
   grid-template-columns: repeat(4, 1fr);
   justify-content: center;
   align-self: center;
   border: 3px solid #212121;
   padding: 5px;
   border-radius: 5px;
}
.container button{
   padding: 5px;
   margin: 3px;
   border-radius: 5px;
   width: 50px;
   background-color: #aea49f;
   transition: 0.3s ease-in;
}
.container button:hover{
   background-color: #DDD0C8;
}
#display{
   grid-column: span 4;
   text-align: right;
   padding: 5px;
   height: 40px;
   border-radius: 5px;
   margin: 5px;
}